@font-face { 
    font-family: Roboto;
    src: url("/Users/rdura/repos/sign-up-form/Roboto/Roboto-Medium.ttf");
}
@font-face { 
    font-family: Norse-Bold;
    src: url("/Users/rdura/repos/sign-up-form/Norse-Bold.otf");
}

@font-face { 
    font-family: Poppins;
    src: url("/Users/rdura/repos/sign-up-form/Poppins/Poppins-Medium.ttf");
}

body {
    display: flex;
    margin: 0;
    height: 100vh;
    color: black;
    font-family: Poppins;
}

.bg-left {
    width: 33.33%;
    display: flex;
    flex-direction: column;
    background-image: url("flowers.jpg");
    background-size: cover; 
    background-position: center center;
    padding-top: 208px;
}

.form-container {
    display: flex;
    flex-direction: column;
    width: 66.66%;
    background-color:papayawhip;
}
.form-box {
    display: flex;
    flex-direction: column;
    padding:1.5rem;
    gap: 1.2rem;
    height:33.3%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    background-color:brown;
    color: white;
}
form {
    display: flex;
    flex-flow:wrap;
    gap: 1.2rem;
    justify-content: center;
}
.dialog-box, .create-login-box {
    padding: 1.5rem;
    height:33.3%;
}
.create-login-box {
    color: rgba(102, 31, 31, 0.884);
}
.dialog-box {
    padding-top: 50px;
    font-size: 24px;
}

.create-login-box button {
    padding: 1rem;
    font-weight: bold;
    background-color: maroon;
    border-color: #121212;
    border-radius: 1rem;
    color: white;
}

.t-box {
    background-color: rgba(0, 0, 0, 0.5);
    font-family: Poppins, sans-serif;
    text-align: center;
    color:antiquewhite;
}


.input {
    display: flex;
    flex-flow: column wrap;
    width: 40%;
    font-size: 0.7rem;
    text-transform: uppercase;
}

a {
    color: maroon;
}
